.dashboard {
  height: 100vh;
  display: flex;
}
.info_container {
    background-color: rgb(7, 71, 166);
  width: 20%;
}
.dash_container {
  background-color: #dce3e8;
  width: 80%;
  padding-left: 20px;
}
.name{
    text-align: center;
    padding: 10px;
}
.user_icon {
  background-color: #ffc0c0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
}
.icon_txt {
  text-align: center;
  padding-top: 7px;
}
