.home_wrapper{
    margin: auto;
    height: 500px;
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 100px;
    text-align: center;
}
.user_wrapper{
    border: 1px solid green;
    width: 200px;
    border-radius: 16px;
    margin: auto;
    margin-top: 20px;
}
.input_boxes{
    padding-top: 100px;
}
.user_input{
    outline: none;
    padding: 5px;
    background-color: transparent;
    border: 0px solid;
    height: 20px;
}
.style{
    margin-top: 50px;
}
.submit_btn {
    background-color: #4a4a49;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 300ms;
    margin-top: 20px;
    border-radius: 30px;
  }
  .submit_btn:hover{
    background-color: #2e2d29;
}